ul{
    display: flex;
    gap: 50px;
}
li{
    margin: 50px 0px 50px 0px;
}
.main{
    margin-top: 1500%;
}
figcaption{
    font-size: 30px;
}
.la-images{
    width: 200px;
    height:200px;
}
#phoebe{
    width:200px;
}
#doto{
    width: 150px;
}